.plugin-dida-dock {
  user-select: none;

  .dida-dock-project {
    padding: 0 10px;
    margin-bottom: 6px;
  }

  .dida-dock-project-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .dida-dock-task {
    // margin-left: 8px;
    margin-bottom: 8px;
    line-height: 1;
    user-select: text;

    & > svg {
      width: 18px;
      height: 12px;
      display: inline-block;
      z-index: 1;
      position: relative;
    }
  }
}
.sy__siyuan-plugin-dida365dida365Dock {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}